*.log
.DS_Store
.env
.env.backup
.env.example
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/repo2
/repo2/*
/repo2/.env
/repo2/frontend
/repo2/backend
/.vscode
/.cursor
.cursor
/.zed
/auth.json
/node_modules
/vendor
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
/public/hot
/storage
/public/storage
storage
.opencode
/opencode.json
/boost.json
boost.json
