*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.cursor
.cursor
/.zed
/auth.json
/node_modules
/vendor
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
/public/hot
/storage
/public/storage
storage
.opencode
/opencode.json
/boost.json
boost.json

/preview-ads
storage/app/google/service-account.json
*google/service-account.json
google/service-account.json
docker-compose.yml
docker-compose.prod.yml
